html {
  background-color: #171717;
}

#dark {
  display: none;
}

#light {
  display: flex;
}

header .logo-menu .nav-dark-mode #light {
  color: #f5f5f5;
}

header .logo-menu ._h3 h3, header .logo-menu .nav-dark-mode ul li a, header .logo-menu .nav-dark-mode #dark, .wrap .home .my-name h4, .wrap .home .my-name h1,
.wrap .projects .heading .h2, .wrap .contact .heading .h2, .wrap .skills .heading .h2, .wrap .other-projects .heading .h2, .wrap .projects .my-projects .sample-projects .project-details h1, .wrap .projects .my-projects .sample-projects .project-details .tool span, .wrap .other-projects .heading-2 h3,
.wrap .skills .my-skills .my-skills-border .skills-list h4, .wrap .contact .my-contact .contact-me .contact-div .form-border form h2, .wrap .contact .my-contact .contact-me .contact-div .form-border form .textbox label,
.wrap .contact .my-contact .contact-me .contact-div .form-border form .textbox input, .wrap .contact .my-contact .contact-me .contact-div .form-border form .textbox textarea, .wrap footer h3,
.wrap .other-projects .my-other-projects .other-project-border .other-sample-projects .project-details h1, .wrap .other-projects .my-other-projects .other-project-border .other-sample-projects .project-details p,
.wrap .other-projects .my-other-projects .other-project-border .other-sample-projects .project-details .tool span {
  color: #f5f5f5;
}

.wrap .projects .my-projects .sample-projects .project-details p {
  opacity: 70%;
  color: #f5f5f5;
}

.wrap .skills .my-skills .my-skills-border .skills-list #invert-in-darkmode {
  filter: invert(1);
}

.wrap .home .btn .link-icon .link-a, .wrap .projects .my-projects .sample-projects .project-details .project-link .git .prjt-git-link, .wrap footer .footer-icon .link-a,
.wrap .projects .my-projects .sample-projects .project-details .tool span, .wrap .contact .my-contact .contact-me .contact-div .form-border form .textbox input, .wrap .contact .my-contact .contact-me .contact-div .form-border form .textbox textarea,
.wrap .other-projects .my-other-projects .other-project-border .other-sample-projects .project-details .project-link .git .prjt-git-link, .wrap .other-projects .my-other-projects .other-project-border .other-sample-projects .project-details .tool span {
  background: #292929;
}

.wrap .home .btn .link-icon .link-a span, .wrap .projects .my-projects .sample-projects .project-details .project-link .git .prjt-git-link span, .wrap footer .footer-icon .link-a span,
.wrap .other-projects .my-other-projects .other-project-border .other-sample-projects .project-details .project-link .git .prjt-git-link span {
  border: 1px solid #292929;
}

.wrap .projects .my-projects .sample-projects, .wrap .other-projects .my-other-projects .other-project-border .other-sample-projects, .wrap .skills .my-skills .my-skills-border .skills-list,
.wrap .contact .my-contact .contact-me .contact-div .form-border form {
  background: #1f1f1f;
}

.wrap .projects .my-projects .project-border, .wrap .other-projects .my-other-projects .other-project-border, .wrap .skills .my-skills .my-skills-border,
.wrap .contact .my-contact .contact-me .contact-div .form-border {
  border: 2px solid #1f1f1f;
}/*# sourceMappingURL=darkmode.css.map */